replicaCount: 1

fullnameOverride: ""

image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

serviceAccountName: ""

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
env: []
